@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}

nav {
  display: flex;
 padding: 2% 4%; 
 justify-content: center;
 align-items: center;
 position: relative;
z-index: 1;
} 

   .header-2 {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8.5%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: relative;
  }


  .nav-links ul{

    display: flex;
 flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0;
    text-decoration: none;
  }
  .nav-links ul li {
    list-style: none;
  }
  .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
  }
  .header-2 .nav-links a {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 0.7rem;
    color: rgb(22, 68, 119);
    text-decoration: none;
    font-size: 2rem;
  list-style: none;
  font-weight: bold;

     padding: 0.5rem 1.5rem;
  }
  .header-2 .nav-links a:hover {
    background:green;
    color: #fff;
  }
  .header-2 .icons a {
    font-size: 2.5rem;
    color: rgb(22, 68, 119);
    padding: 10px;
    padding-left: 1rem;
  }
  .header-2 .icons a:hover {
    color: green;
  }
  
  #menu-bar {
    font-size: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(98, 98, 165);
    padding: 0.8rem 1rem;
    color: rgb(22, 68, 119);
    cursor: pointer;
    display: none;
    
  }



  @media (max-width: 768px) {
    #menu-bar {
      display: initial;
    
    }
  
    .nav-links {
      position: absolute;
  
      top: 100%;
      left: 0;
      right: 0;
      backdrop-filter: blur(10px);
     
     padding: 1rem;
      display: none;
      text-align: center;
    }
  
    .nav-links.active {
      display: block;
      transition: 0.4s linear;
    }
  
    .nav-links ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      margin: 0;
    }
  
    .nav-links ul li {
      padding: 12px 12px;
    }
  
    .nav-links ul li a {
     
      text-decoration: none;
      font-size: 1.5rem;
    }
  } 
   
/* header1 css */
.header-1 {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8.5%;
}
.logo {
  color: black;
  font-weight: bolder;
  font-size: 3rem;
  text-decoration:none;
}
.logo i {
  padding-right: 0.6rem;
  color:green;
}
.header-1 .search-box-container {
  display: flex;
  height: 5rem;
}


@media (max-width: 991px) {
  .header-1,
  .header-2 {
    padding: 2rem;
  }
}

@media (max-width: 786px) {

  .header-1 {
    flex-flow: column;
  }
  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }
  .logo {
    font-size: 4rem;
  }
}
.fa-solid{
  text-decoration: none;
}
.cart-icon{
  text-decoration: none;
}

